In [822]:
import pandas as pd
import numpy as np
import seaborn as sns

In [823]:
df=pd.read_csv('train.csv')

In [824]:
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,Ford,F-150 Lariat,2018,74349,Gasoline,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,Blue,Gray,None reported,Yes,11000
1,1,BMW,335 i,2007,80000,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,Black,Black,None reported,Yes,8250
2,2,Jaguar,XF Luxury,2009,91491,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Purple,Beige,None reported,Yes,15000
3,3,BMW,X7 xDrive40i,2022,2437,Hybrid,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,Transmission w/Dual Shift Mode,Gray,Brown,None reported,Yes,63500
4,4,Pontiac,Firebird Base,2001,111000,Gasoline,200.0HP 3.8L V6 Cylinder Engine Gasoline Fuel,A/T,White,Black,None reported,Yes,7850

In [825]:
df['model'].value_counts()

F-150 XLT             780
M3 Base               682
X5 xDrive35i          615
F-150 Lariat          496
Mustang GT Premium    466
                     ...
Suburban 2500           1
TLX Tech                1
Rogue Sport S           1
A8 4.0                  1
S-10 LS                 1
Name: model, Length: 1827, dtype: int64

In [826]:
df.describe()

                 id    model_year         milage         price
count  54273.000000  54273.000000   54273.000000  5.427300e+04
mean   27136.000000   2015.091979   72746.175667  3.921844e+04
std    15667.409917      5.588909   50469.490448  7.282634e+04
min        0.000000   1974.000000     100.000000  2.000000e+03
25%    13568.000000   2012.000000   32268.000000  1.550000e+04
50%    27136.000000   2016.000000   66107.000000  2.800000e+04
75%    40704.000000   2019.000000  102000.000000  4.500000e+04
max    54272.000000   2024.000000  405000.000000  2.954083e+06

In [827]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54273 entries, 0 to 54272
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            54273 non-null  int64
 1   brand         54273 non-null  object
 2   model         54273 non-null  object
 3   model_year    54273 non-null  int64
 4   milage        54273 non-null  int64
 5   fuel_type     54273 non-null  object
 6   engine        54273 non-null  object
 7   transmission  54273 non-null  object
 8   ext_col       54273 non-null  object
 9   int_col       54273 non-null  object
 10  accident      54273 non-null  object
 11  clean_title   54273 non-null  object
 12  price         54273 non-null  int64
dtypes: int64(4), object(9)
memory usage: 5.4+ MB

In [828]:
df['horsepower']=df['engine'].apply(lambda x:float(x[:4]) if x[5:7]=='HP' else 331.687)

In [829]:
df

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,horsepower
0,0,Ford,F-150 Lariat,2018,74349,Gasoline,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,Blue,Gray,None reported,Yes,11000,375.000
1,1,BMW,335 i,2007,80000,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,Black,Black,None reported,Yes,8250,300.000
2,2,Jaguar,XF Luxury,2009,91491,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Purple,Beige,None reported,Yes,15000,300.000
3,3,BMW,X7 xDrive40i,2022,2437,Hybrid,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,Transmission w/Dual Shift Mode,Gray,Brown,None reported,Yes,63500,335.000
4,4,Pontiac,Firebird Base,2001,111000,Gasoline,200.0HP 3.8L V6 Cylinder Engine Gasoline Fuel,A/T,White,Black,None reported,Yes,7850,200.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54268,54268,BMW,X6 xDrive50i,2017,29000,Gasoline,445.0HP 4.4L 8 Cylinder Engine Gasoline Fuel,8-Speed A/T,White,Brown,None reported,Yes,29000,445.000
54269,54269,Audi,A4 2.0T Premium,2015,94634,E85 Flex Fuel,220.0HP 2.0L 4 Cylinder Engine Flex Fuel Capab...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,6500,220.000
54270,54270,Porsche,Cayenne S,2013,40989,Gasoline,420.0HP 3.6L V6 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,White,Black,At least 1 accident or damage reported,Yes,18950,420.000
54271,54271,Porsche,911 Carrera 4 GTS,2023,1518,Gasoline,4.0L H6 24V GDI DOHC,8-Speed Automatic with Auto-Shift,Beige,Brown,None reported,Yes,194965,331.687
54272,54272,Audi,A5 Sportback S line Premium Plus,2021,35000,Hybrid,261.0HP 2.0L 4 Cylinder Engine Gasoline/Mild E...,8-Speed A/T,Black,Black,None reported,Yes,37499,261.000

In [830]:
import re
v1=df['engine'].str.extract(r'\s(\d+)\s')

In [831]:
v1=pd.DataFrame({'index':range(0,54273),'number':v1[0]})
# v1[0]

In [832]:
v2=df['engine'].str.extract(r'\s\w(\d+)\s')

In [833]:
v2=pd.DataFrame({'index':range(0,54273),'number':v2[0]})

In [834]:
newv=pd.merge(v1, v2, on='index', how='outer')

In [835]:
newv.head()

   index number_x number_y
0      0      NaN        6
1      1        6      NaN
2      2        8      NaN
3      3        6      NaN
4      4      NaN        6

In [836]:
df['v']=newv['number_x'].combine_first(newv['number_y'])

In [837]:
df['v']=df['v'].fillna('6')
df['v'] = df['v'].astype(int)

In [838]:
l1=df['engine'].str.extract(r'\s(\d+\.\d+)\w\s')
l1=pd.DataFrame({'index':range(0,54273),'number':l1[0]})

In [839]:
l2=df['engine'].str.extract(r'\b(\d+\.\d+)\sLiter\b')
l2=pd.DataFrame({'index':range(0,54273),'number':l2[0]})

In [840]:
newv=pd.merge(l1, l2, on='index', how='outer')
df['L']=newv['number_x'].combine_first(newv['number_y'])

In [841]:
df['L']=df['L'].fillna('3.72')
df['L'] = df['L'].astype(float)

In [842]:
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,horsepower,v,L
0,0,Ford,F-150 Lariat,2018,74349,Gasoline,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,Blue,Gray,None reported,Yes,11000,375.0,6,3.5
1,1,BMW,335 i,2007,80000,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,Black,Black,None reported,Yes,8250,300.0,6,3.0
2,2,Jaguar,XF Luxury,2009,91491,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Purple,Beige,None reported,Yes,15000,300.0,8,4.2
3,3,BMW,X7 xDrive40i,2022,2437,Hybrid,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,Transmission w/Dual Shift Mode,Gray,Brown,None reported,Yes,63500,335.0,6,3.0
4,4,Pontiac,Firebird Base,2001,111000,Gasoline,200.0HP 3.8L V6 Cylinder Engine Gasoline Fuel,A/T,White,Black,None reported,Yes,7850,200.0,6,3.8

In [843]:
df['transmission'].value_counts()

A/T                                                   16757
8-Speed A/T                                            7287
Transmission w/Dual Shift Mode                         6454
6-Speed A/T                                            5944
6-Speed M/T                                            3618
7-Speed A/T                                            3415
10-Speed A/T                                           2187
8-Speed Automatic                                      1189
5-Speed A/T                                            1185
9-Speed A/T                                            1073
4-Speed A/T                                             764
5-Speed M/T                                             718
CVT Transmission                                        692
10-Speed Automatic                                      642
6-Speed Automatic                                       516
Automatic                                               441
M/T                                                     359
9-Speed Automatic                                       344
7-Speed Automatic with Auto-Shift                       110
7-Speed M/T                                             104
Automatic CVT                                            95
1-Speed A/T                                              60
8-Speed Automatic with Auto-Shift                        55
Transmission Overdrive Switch                            54
7-Speed Automatic                                        41
6-Speed Manual                                           34
5-Speed Automatic                                        24
7-Speed Manual                                           22
6-Speed Automatic with Auto-Shift                        17
8-Speed Manual                                            9
4-Speed Automatic                                         8
7-Speed                                                   7
–                                                         7
7-Speed DCT Automatic                                     6
1-Speed Automatic                                         6
6-Speed Electronically Controlled Automatic with O        6
10-Speed Automatic with Overdrive                         5
2-Speed A/T                                               5
6-Speed                                                   3
9-Speed Automatic with Auto-Shift                         2
SCHEDULED FOR OR IN PRODUCTION                            2
6 Speed Mt                                                2
CVT-F                                                     1
F                                                         1
Variable                                                  1
6 Speed At/Mt                                             1
Name: transmission, dtype: int64

In [844]:
df['tranmission_no']=df['transmission'].str.extract(r'(\d+)')

In [845]:
df['tranmission_no']=df['tranmission_no'].fillna(1)

In [846]:
df['tranmission_no']=df['tranmission_no'].astype(int)

In [847]:
# df['transmission']=df['transmission'].astype('category').cat.codes

In [848]:
arr=df['transmission'].apply(lambda x:sorted([i+"_trans" for i in re.findall(r'\b[a-zA-Z]+\b',x)]))
colset=[]
for i in range(54273):
    for j in arr[i]:
        colset.append(j)
transdata=list(set(colset))
print(transdata)

['Mode_trans', 'M_trans', 'Automatic_trans', 'Transmission_trans', 'Mt_trans', 'Shift_trans', 'Variable_trans', 'with_trans', 'O_trans', 'Manual_trans', 'PRODUCTION_trans', 'Electronically_trans', 'IN_trans', 'Controlled_trans', 'Auto_trans', 'OR_trans', 'Dual_trans', 'T_trans', 'FOR_trans', 'w_trans', 'DCT_trans', 'Overdrive_trans', 'CVT_trans', 'Speed_trans', 'F_trans', 'At_trans', 'A_trans', 'Switch_trans', 'SCHEDULED_trans']

In [849]:
for i in transdata:
    df[i]=0
for i in range(54273):
    for j in arr[i]:
        if j in transdata:
            df.loc[i,j]=1

In [850]:
acci=pd.get_dummies(df['accident'])
df=pd.concat([df,acci],axis=1)

In [851]:
# int_col=pd.get_dummies(df['int_col'])
# df=pd.concat([df,int_col],axis=1)
# df['int_col']=df['int_col'].astype('category').cat.codes
# encoder1 = LabelEncoder()
# encoder1.fit(df['int_col'])

# # Transform training data
# df['int_col'] = encoder1.transform(df['int_col'])
intdict={}
for i in range(len(list(set(df['int_col'])))):
    intdict[list(set(df['int_col']))[i]]=i
print(intdict)
df['int_col']=df['int_col'].replace(intdict)

{'Blk': 0, 'Cloud': 1, 'Boulder': 2, 'Cappuccino': 3, 'Parchment': 4, 'Jet Black': 5, 'Ivory / Ebony': 6, 'Beige': 7, 'Caramel': 8, 'Canberra Beige/Black': 9, 'Medium Light Camel': 10, 'Black Onyx': 11, 'Graphite': 12, 'Light Gray': 13, 'Light Platinum / Jet Black': 14, 'Rioja Red': 15, 'Gray': 16, 'White': 17, 'Black/Gun Metal': 18, 'Light Slate': 19, 'Titan Black': 20, 'Green': 21, 'Yellow': 22, 'Tan': 23, 'Ceramic': 24, 'Deep Garnet': 25, 'Tupelo': 26, 'Black/Red': 27, 'Dark Gray': 28, 'Black': 29, 'Global Black': 30, 'Black / Brown': 31, 'Adrenaline Red': 32, 'Red / Black': 33, 'Silk Beige/Espresso Brown': 34, 'Brown': 35, 'Gold': 36, 'Red': 37, 'Navy Pier': 38, 'Nero Ade': 39, 'Black / Stone Grey': 40, 'Medium Ash Gray': 41, 'AMG Black': 42, 'Tan/Ebony': 43, 'Walnut': 44, 'Pimento Red w/Ebony': 45, 'Giallo Taurus / Nero Ade': 46, 'Ebony / Pimento': 47, 'Obsidian Black': 48, 'Ebony / Ebony Accents': 49, '–': 50, 'Saddle Brown': 51, 'Espresso': 52, 'Blue': 53, 'Camel Leather': 54, 'Camel': 55, 'Black / Graphite': 56, 'Kyalami Orange': 57, 'Medium Earth Gray': 58, 'Beluga': 59, 'Dark Auburn': 60, 'Dark Ash': 61, 'Charles Blue': 62, 'Beluga Hide': 63, 'Oyster W/Contrast': 64, 'Amber': 65, 'Oyster/Black': 66, 'Shara Beige': 67, 'Shale': 68, 'Grace White': 69, 'Diesel Gray / Black': 70, 'Mountain Brown': 71, 'Mistral Gray / Raven': 72, 'Graystone': 73, 'Sahara Tan': 74, 'Black / Gray': 75, 'Hotspur Hide': 76, 'Ebony Black': 77, 'Brandy': 78, 'Satin Black': 79, 'Chestnut': 80, 'Charcoal': 81, 'Red/Black': 82, 'Rhapsody Blue': 83, 'Silver': 84, 'Linen': 85, 'Mesa': 86, 'Black / Express Red': 87, 'Whisper Beige': 88, 'Portland': 89, 'Macchiato': 90, 'Slate': 91, 'Rock Gray': 92, 'Light Titanium': 93, 'Sport': 94, 'Medium Dark Slate': 95, 'Deep Cypress': 96, 'Charcoal Black': 97, 'Parchment.': 98, 'Very Light Cashmere': 99, 'Dark Galvanized': 100, 'Ice': 101, 'Sand Beige': 102, 'White / Brown': 103, 'Sandstone': 104, 'Orange': 105, 'Cobalt Blue': 106, 'Cocoa / Dune': 107, 'Nougat Brown': 108, 'Nero': 109, 'Medium Pewter': 110, 'Canberra Beige': 111, 'Almond Beige': 112, 'Black w/Red Stitching': 113, 'Mocha': 114, 'Medium Stone': 115, 'BLACK': 116, 'Ash': 117, 'Hotspur': 118, 'Deep Chestnut': 119, 'Titan Black / Quarzit': 120, 'Ebony': 121, 'Black / Saddle': 122, 'Platinum': 123}

In [852]:
clean_title=pd.get_dummies(df['clean_title'])
df=pd.concat([df,clean_title],axis=1)

In [853]:
# ext_col=pd.get_dummies(df['ext_col'])
# df=pd.concat([df,ext_col],axis=1)
# df['int_col']=df['int_col'].astype('category').cat.codes
# encoder2 = LabelEncoder()
# encoder2.fit(df['ext_col'])

# # Transform training data
# df['ext_col'] = encoder2.transform(df['ext_col'])
extdict={}
for i in range(len(list(set(df['ext_col'])))):
    extdict[list(set(df['ext_col']))[i]]=i
print(intdict)
df['ext_col']=df['ext_col'].replace(extdict)
df['ext_col']

{'Blk': 0, 'Cloud': 1, 'Boulder': 2, 'Cappuccino': 3, 'Parchment': 4, 'Jet Black': 5, 'Ivory / Ebony': 6, 'Beige': 7, 'Caramel': 8, 'Canberra Beige/Black': 9, 'Medium Light Camel': 10, 'Black Onyx': 11, 'Graphite': 12, 'Light Gray': 13, 'Light Platinum / Jet Black': 14, 'Rioja Red': 15, 'Gray': 16, 'White': 17, 'Black/Gun Metal': 18, 'Light Slate': 19, 'Titan Black': 20, 'Green': 21, 'Yellow': 22, 'Tan': 23, 'Ceramic': 24, 'Deep Garnet': 25, 'Tupelo': 26, 'Black/Red': 27, 'Dark Gray': 28, 'Black': 29, 'Global Black': 30, 'Black / Brown': 31, 'Adrenaline Red': 32, 'Red / Black': 33, 'Silk Beige/Espresso Brown': 34, 'Brown': 35, 'Gold': 36, 'Red': 37, 'Navy Pier': 38, 'Nero Ade': 39, 'Black / Stone Grey': 40, 'Medium Ash Gray': 41, 'AMG Black': 42, 'Tan/Ebony': 43, 'Walnut': 44, 'Pimento Red w/Ebony': 45, 'Giallo Taurus / Nero Ade': 46, 'Ebony / Pimento': 47, 'Obsidian Black': 48, 'Ebony / Ebony Accents': 49, '–': 50, 'Saddle Brown': 51, 'Espresso': 52, 'Blue': 53, 'Camel Leather': 54, 'Camel': 55, 'Black / Graphite': 56, 'Kyalami Orange': 57, 'Medium Earth Gray': 58, 'Beluga': 59, 'Dark Auburn': 60, 'Dark Ash': 61, 'Charles Blue': 62, 'Beluga Hide': 63, 'Oyster W/Contrast': 64, 'Amber': 65, 'Oyster/Black': 66, 'Shara Beige': 67, 'Shale': 68, 'Grace White': 69, 'Diesel Gray / Black': 70, 'Mountain Brown': 71, 'Mistral Gray / Raven': 72, 'Graystone': 73, 'Sahara Tan': 74, 'Black / Gray': 75, 'Hotspur Hide': 76, 'Ebony Black': 77, 'Brandy': 78, 'Satin Black': 79, 'Chestnut': 80, 'Charcoal': 81, 'Red/Black': 82, 'Rhapsody Blue': 83, 'Silver': 84, 'Linen': 85, 'Mesa': 86, 'Black / Express Red': 87, 'Whisper Beige': 88, 'Portland': 89, 'Macchiato': 90, 'Slate': 91, 'Rock Gray': 92, 'Light Titanium': 93, 'Sport': 94, 'Medium Dark Slate': 95, 'Deep Cypress': 96, 'Charcoal Black': 97, 'Parchment.': 98, 'Very Light Cashmere': 99, 'Dark Galvanized': 100, 'Ice': 101, 'Sand Beige': 102, 'White / Brown': 103, 'Sandstone': 104, 'Orange': 105, 'Cobalt Blue': 106, 'Cocoa / Dune': 107, 'Nougat Brown': 108, 'Nero': 109, 'Medium Pewter': 110, 'Canberra Beige': 111, 'Almond Beige': 112, 'Black w/Red Stitching': 113, 'Mocha': 114, 'Medium Stone': 115, 'BLACK': 116, 'Ash': 117, 'Hotspur': 118, 'Deep Chestnut': 119, 'Titan Black / Quarzit': 120, 'Ebony': 121, 'Black / Saddle': 122, 'Platinum': 123}

0        107
1         65
2        198
3         34
4         35
        ...
54268     35
54269     65
54270     35
54271     19
54272     65
Name: ext_col, Length: 54273, dtype: int64

In [854]:
fuel_type=pd.get_dummies(df['fuel_type'])
df=pd.concat([df,fuel_type],axis=1)

In [855]:
brand=pd.get_dummies(df['brand'])
df=pd.concat([df,brand],axis=1)

In [856]:
# df['model']=df['model'].astype('category').cat.codes
def extract_model_features(model):
    """
    This function extracts features from the model column creating new features 
    and enriching the dataset.
    """
    parts = model.split()
    base_model = parts[0] if parts else model
    model_variant = parts[1] if len(parts) > 1 else ''
    additional_features = ''.join(parts[2:]) if len(parts) > 2 else ''
    return base_model, model_variant, additional_features
df[['base_model', 'model_variant', 'additional_features']] =df['model'].apply(lambda x: pd.Series(extract_model_features(x)))

In [857]:
base_modeldict={}
for i in range(len(list(set(df['base_model'])))):
    base_modeldict[list(set(df['base_model']))[i]]=i
df['base_model']=df['base_model'].replace(base_modeldict)

model_variantdict={}
for i in range(len(list(set(df['model_variant'])))):
    model_variantdict[list(set(df['model_variant']))[i]]=i
df['model_variant']=df['model_variant'].replace(model_variantdict)

additional_featuresdict={}
for i in range(len(list(set(df['additional_features'])))):
    additional_featuresdict[list(set(df['additional_features']))[i]]=i
df['additional_features']=df['additional_features'].replace(additional_featuresdict)


# df['model_variant']=df['model_variant'].astype('category').cat.codes
# df['additional_features']=df['additional_features'].astype('category').cat.codes

In [858]:
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,...,Scion,Subaru,Suzuki,Tesla,Toyota,Volkswagen,Volvo,base_model,model_variant,additional_features
0,0,Ford,F-150 Lariat,2018,74349,Gasoline,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,107,16,...,0,0,0,0,0,0,0,339,274,0
1,1,BMW,335 i,2007,80000,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,65,29,...,0,0,0,0,0,0,0,415,371,0
2,2,Jaguar,XF Luxury,2009,91491,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,198,7,...,0,0,0,0,0,0,0,268,234,0
3,3,BMW,X7 xDrive40i,2022,2437,Hybrid,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,Transmission w/Dual Shift Mode,34,35,...,0,0,0,0,0,0,0,74,286,0
4,4,Pontiac,Firebird Base,2001,111000,Gasoline,200.0HP 3.8L V6 Cylinder Engine Gasoline Fuel,A/T,35,29,...,0,0,0,0,0,0,0,384,304,0

In [859]:
df.drop(columns=['brand','fuel_type','accident','clean_title','id','model'])

,model_year,milage,engine,transmission,ext_col,int_col,price,horsepower,v,L,...,Scion,Subaru,Suzuki,Tesla,Toyota,Volkswagen,Volvo,base_model,model_variant,additional_features
0,2018,74349,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,107,16,11000,375.000,6,3.50,...,0,0,0,0,0,0,0,339,274,0
1,2007,80000,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,65,29,8250,300.000,6,3.00,...,0,0,0,0,0,0,0,415,371,0
2,2009,91491,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,198,7,15000,300.000,8,4.20,...,0,0,0,0,0,0,0,268,234,0
3,2022,2437,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,Transmission w/Dual Shift Mode,34,35,63500,335.000,6,3.00,...,0,0,0,0,0,0,0,74,286,0
4,2001,111000,200.0HP 3.8L V6 Cylinder Engine Gasoline Fuel,A/T,35,29,7850,200.000,6,3.80,...,0,0,0,0,0,0,0,384,304,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54268,2017,29000,445.0HP 4.4L 8 Cylinder Engine Gasoline Fuel,8-Speed A/T,35,35,29000,445.000,8,4.40,...,0,0,0,0,0,0,0,193,395,0
54269,2015,94634,220.0HP 2.0L 4 Cylinder Engine Flex Fuel Capab...,6-Speed A/T,65,29,6500,220.000,4,2.00,...,0,0,0,0,0,0,0,215,275,15
54270,2013,40989,420.0HP 3.6L V6 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,35,29,18950,420.000,6,3.60,...,0,0,0,0,0,0,0,26,214,0
54271,2023,1518,4.0L H6 24V GDI DOHC,8-Speed Automatic with Auto-Shift,19,35,194965,331.687,6,3.72,...,0,0,0,0,0,0,0,402,459,108
54272,2021,35000,261.0HP 2.0L 4 Cylinder Engine Gasoline/Mild E...,8-Speed A/T,65,29,37499,261.000,4,2.00,...,0,0,0,0,0,0,0,416,13,277

In [860]:
arr=df['engine'].apply(lambda x:sorted(re.findall(r'\b[a-zA-Z]+\b',x)))
# arr[0]
colset=[]
for i in range(54273):
    for j in arr[i]:
        colset.append(j)

In [861]:
enginedata=['AH',
 'Battery',
 'Capability',
 'Cylinder',
 'DDI',
 'DOHC',
 'Diesel',
 'Electric',
 'Engine',
 'Flat',
 'Flex',
 'Flexible',
 'Fuel',
 'GDI',
 'GTDI',
 'Gas',
 'Gasoline',
 'Hybrid',
 'Hydrogen',
 'In',
 'Intercooled',
 'Liter',
 'MPFI',
 'Mild',
 'Motor',
 'OHV',
 'PDI',
 'Plug',
 'Range',
 'Rotary',
 'SC',
 'SOHC',
 'Standard',
 'Straight',
 'Supercharged',
 'System',
 'TFSI',
 'TSI',
 'Turbo',
 'Twin',
 'ULEV',
 'VTEC',
 'engine']

In [862]:
for i in enginedata:
    df[i]=0
for i in range(54273):
    for j in arr[i]:
        if j in enginedata:
            df.loc[i,j]=1

In [863]:
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,...,Standard,Straight,Supercharged,System,TFSI,TSI,Turbo,Twin,ULEV,VTEC
0,0,Ford,F-150 Lariat,2018,74349,Gasoline,0,10-Speed A/T,107,16,...,0,0,0,0,0,0,0,0,0,0
1,1,BMW,335 i,2007,80000,Gasoline,0,6-Speed M/T,65,29,...,0,1,0,0,0,0,0,0,0,0
2,2,Jaguar,XF Luxury,2009,91491,Gasoline,0,6-Speed A/T,198,7,...,0,0,0,0,0,0,0,0,0,0
3,3,BMW,X7 xDrive40i,2022,2437,Hybrid,0,Transmission w/Dual Shift Mode,34,35,...,0,1,0,0,0,0,0,0,0,0
4,4,Pontiac,Firebird Base,2001,111000,Gasoline,0,A/T,35,29,...,0,0,0,0,0,0,0,0,0,0

In [864]:
df=df.dropna(axis=1)

In [865]:
df=df.drop(columns=['brand','fuel_type','ext_col','int_col','accident','clean_title','id','model'])

In [866]:
df.head()

,model_year,milage,engine,transmission,price,horsepower,v,L,tranmission_no,Mode_trans,...,Standard,Straight,Supercharged,System,TFSI,TSI,Turbo,Twin,ULEV,VTEC
0,2018,74349,0,10-Speed A/T,11000,375.0,6,3.5,10,0,...,0,0,0,0,0,0,0,0,0,0
1,2007,80000,0,6-Speed M/T,8250,300.0,6,3.0,6,0,...,0,1,0,0,0,0,0,0,0,0
2,2009,91491,0,6-Speed A/T,15000,300.0,8,4.2,6,0,...,0,0,0,0,0,0,0,0,0,0
3,2022,2437,0,Transmission w/Dual Shift Mode,63500,335.0,6,3.0,1,1,...,0,1,0,0,0,0,0,0,0,0
4,2001,111000,0,A/T,7850,200.0,6,3.8,1,0,...,0,0,0,0,0,0,0,0,0,0

In [867]:
target=df['price']
df=df.drop(columns=['transmission'])

In [868]:
# df['noyear']=pd.cut(df['model_year'],9,labels=[str(i) for i in range(9)])

In [869]:
df=df.drop(columns=['price',])

In [870]:
!pip3 install catboost

Requirement already satisfied: catboost in c:\users\acer\anaconda3\lib\site-packages (1.2.5)
Requirement already satisfied: scipy in c:\users\acer\anaconda3\lib\site-packages (from catboost) (1.7.3)
Requirement already satisfied: numpy>=1.16.0 in c:\users\acer\anaconda3\lib\site-packages (from catboost) (1.22.4)
Requirement already satisfied: graphviz in c:\users\acer\anaconda3\lib\site-packages (from catboost) (0.20.3)
Requirement already satisfied: plotly in c:\users\acer\anaconda3\lib\site-packages (from catboost) (5.6.0)
Requirement already satisfied: six in c:\users\acer\anaconda3\lib\site-packages (from catboost) (1.16.0)
Requirement already satisfied: matplotlib in c:\users\acer\anaconda3\lib\site-packages (from catboost) (3.5.1)
Requirement already satisfied: pandas>=0.24 in c:\users\acer\anaconda3\lib\site-packages (from catboost) (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\acer\anaconda3\lib\site-packages (from pandas>=0.24->catboost) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\acer\anaconda3\lib\site-packages (from pandas>=0.24->catboost) (2.8.2)
Requirement already satisfied: packaging>=20.0 in c:\users\acer\anaconda3\lib\site-packages (from matplotlib->catboost) (21.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\acer\anaconda3\lib\site-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\acer\anaconda3\lib\site-packages (from matplotlib->catboost) (9.0.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\acer\anaconda3\lib\site-packages (from matplotlib->catboost) (4.25.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\acer\anaconda3\lib\site-packages (from matplotlib->catboost) (3.0.4)
Requirement already satisfied: cycler>=0.10 in c:\users\acer\anaconda3\lib\site-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\acer\anaconda3\lib\site-packages (from plotly->catboost) (8.0.1)

In [871]:
# df['noyear']=df['noyear'].astype(int)

In [872]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler
scaler = MinMaxScaler()
stanscaler=StandardScaler()
# dft=stanscaler.fit_transform(df)
X_train, X_test, y_train, y_test = train_test_split(df, target, test_size=0.00000001, random_state=42)

In [873]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.ensemble import RandomForestRegressor
from catboost import CatBoostRegressor
catboost=CatBoostRegressor(loss_function='RMSE',depth=5,random_seed=73,iterations=2500,learning_rate=0.01,verbose=False)
# catboost=RandomForestRegressor( n_estimators=50, random_state=42)
catboost.fit(X_train, y_train)

In [874]:
from sklearn.metrics import mean_squared_error
y_pred = catboost.predict(X_test)
rmse1 = np.sqrt(mean_squared_error(y_test, y_pred))
print("The Root mean square is " + str(rmse1))

The Root mean square is 16824.73759612674

In [875]:
import random
df1=pd.read_csv('test.csv')
df1.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title
0,54273,Mercedes-Benz,E-Class E 350,2014,73000,Gasoline,302.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,A/T,White,Beige,None reported,Yes
1,54274,Lexus,RX 350 Base,2015,128032,Gasoline,275.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,8-Speed A/T,Silver,Black,None reported,Yes
2,54275,Mercedes-Benz,C-Class C 300,2015,51983,Gasoline,241.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,Blue,White,None reported,Yes
3,54276,Land,Rover Range Rover 5.0L Supercharged Autobiogra...,2018,29500,Gasoline,518.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,White,White,At least 1 accident or damage reported,Yes
4,54277,BMW,X6 xDrive40i,2020,90000,Gasoline,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,8-Speed A/T,White,Black,At least 1 accident or damage reported,Yes

In [876]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36183 entries, 0 to 36182
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            36183 non-null  int64
 1   brand         36183 non-null  object
 2   model         36183 non-null  object
 3   model_year    36183 non-null  int64
 4   milage        36183 non-null  int64
 5   fuel_type     36183 non-null  object
 6   engine        36183 non-null  object
 7   transmission  36183 non-null  object
 8   ext_col       36183 non-null  object
 9   int_col       36183 non-null  object
 10  accident      36183 non-null  object
 11  clean_title   36183 non-null  object
dtypes: int64(3), object(9)
memory usage: 3.3+ MB

In [877]:
df1.replace('-','idontknow',inplace=True)

In [878]:
df1['horsepower']=df1['engine'].apply(lambda x:float(x[:4]) if x[5:7]=='HP' else 306.838)

In [879]:
v1=df1['engine'].str.extract(r'\s(\d+)\s')
v1=pd.DataFrame({'index':range(0,36183),'number':v1[0]})
v2=df1['engine'].str.extract(r'\s\w(\d+)\s')
v2=pd.DataFrame({'index':range(0,36183),'number':v2[0]})
newv=pd.merge(v1, v2, on='index', how='outer')
newv.head()
df1['v']=newv['number_x'].combine_first(newv['number_y'])
df1['v']=df1['v'].fillna('6')
df1['v'] = df1['v'].astype(int)
l1=df1['engine'].str.extract(r'\s(\d+\.\d+)\w\s')
l1=pd.DataFrame({'index':range(0,36183),'number':l1[0]})
l2=df1['engine'].str.extract(r'\b(\d+\.\d+)\sLiter\b')
l2=pd.DataFrame({'index':range(0,36183),'number':l2[0]})
newv=pd.merge(l1, l2, on='index', how='outer')
df1['L']=newv['number_x'].combine_first(newv['number_y'])
df1['L']=df1['L'].fillna('3.72')
df1['L'] = df1['L'].astype(float)

In [880]:
df1['tranmission_no']=df1['transmission'].str.extract(r'(\d+)')[0]

In [881]:
df1['tranmission_no']=df1['tranmission_no'].fillna(1)
df1['tranmission_no']=df1['tranmission_no'].astype(int)

In [882]:
for i in transdata:
    df1[i]=0
for i in range(36183):
    for j in arr[i]:
        if j in transdata:
            df1.loc[i,j]=1

In [883]:
brand=pd.get_dummies(df1['brand'])
df1=pd.concat([df1,brand],axis=1)
fuel_type=pd.get_dummies(df1['fuel_type'])
df1=pd.concat([df1,fuel_type],axis=1)
# ext_col=pd.get_dummies(df1['ext_col'])
# df1=pd.concat([df1,ext_col],axis=1)
clean_title=pd.get_dummies(df1['clean_title'])
d1f=pd.concat([df1,clean_title],axis=1)
# int_col=pd.get_dummies(df1['int_col'])
# df1=pd.concat([df1,int_col],axis=1)
df1['int_col']=df1['int_col'].apply(lambda x:intdict[x] if x in intdict else random.randint(502, 1000))
df1['ext_col']=df1['ext_col'].apply(lambda x:extdict[x] if x in extdict else random.randint(502, 1000))
acci=pd.get_dummies(df1['accident'])
df1=pd.concat([df1,acci],axis=1)

In [884]:
# df1['model']=df1['model'].astype('category').cat.codes
df1[['base_model', 'model_variant', 'additional_features']] =df1['model'].apply(lambda x: pd.Series(extract_model_features(x)))
df1['base_model']=df1['base_model'].apply(lambda x:base_modeldict[x] if x in base_modeldict else random.randint(502, 1000))
df1['model_variant']=df1['model_variant'].apply(lambda x:model_variantdict[x] if x in model_variantdict else random.randint(502, 1000))
df1['additional_features']=df1['additional_features'].apply(lambda x:additional_featuresdict[x] if x in additional_featuresdict else random.randint(502, 1000))

In [885]:
# df1['noyear']=pd.cut(df1['model_year'],9,labels=[str(i) for i in range(9)])
# df1['noyear']=df1['noyear'].astype(int)
# df1['d']=df1['milage']*df1['v']
df1[['base_model', 'model_variant', 'additional_features']]

       base_model  model_variant  additional_features
0               8            219                   57
1             431             68                  314
2             212            295                  454
3              61            327                  268
4             193            286                    0
...           ...            ...                  ...
36178         356            141                    0
36179         486             47                   44
36180         199             75                    0
36181           4            152                    0
36182         305            445                    0

[36183 rows x 3 columns]

In [886]:
df1=df1.drop(columns=['brand','fuel_type','ext_col','int_col','accident','clean_title','id','transmission','model'])

In [887]:
arr=df1['engine'].apply(lambda x:sorted(re.findall(r'\b[a-zA-Z]+\b',x)))
# arr[0]
colset=[]
for i in range(36183):
    for j in arr[i]:
        colset.append(j)

In [888]:
for i in enginedata:
    df1[i]=0
for i in range(36183):
    for j in arr[i]:
        if j in enginedata:
            df1.loc[i,j]=1

In [889]:
df1['Cylinder'][1]

1

In [890]:
df1=df1.dropna(axis=1)

In [891]:
# catboost.predict(df1)
df1.shape
df1['Yes']=0
df1['Maybach']=0
df1['Plymouth']=0
df1=df1.drop(['Saab', 'smart'],axis=1)

In [892]:
# df1=df1.drop(['d'],axis=1)
# set(df.columns.tolist())-set(df1.columns.tolist())
set(df1.columns.tolist())-set(df.columns.tolist())

set()

In [893]:
df1.iloc[837,96]

674

In [894]:
result=pd.DataFrame({'id':pd.read_csv('test.csv')['id'],'price':catboost.predict(df1)})

In [895]:
result.to_csv('out.csv',index=False)

In [896]:
catboost.predict(df1)

array([24422.18547565, 21284.09121152, 28813.33686436, ...,
       11567.13330975, 52535.21410541, 18020.4818041 ])