In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df=pd.read_csv('train.csv')

In [3]:
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,Ford,F-150 Lariat,2018,74349,Gasoline,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,Blue,Gray,None reported,Yes,11000
1,1,BMW,335 i,2007,80000,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,Black,Black,None reported,Yes,8250
2,2,Jaguar,XF Luxury,2009,91491,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Purple,Beige,None reported,Yes,15000
3,3,BMW,X7 xDrive40i,2022,2437,Hybrid,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,Transmission w/Dual Shift Mode,Gray,Brown,None reported,Yes,63500
4,4,Pontiac,Firebird Base,2001,111000,Gasoline,200.0HP 3.8L V6 Cylinder Engine Gasoline Fuel,A/T,White,Black,None reported,Yes,7850

In [4]:
q25=df['milage'].quantile(0.25)
q75=df['milage'].quantile(0.75)
iqr=q75-q25
up=q75+1.5*iqr
down=q25-1.5*iqr
df['milage']=df['milage'].apply(lambda x: up if x>up else x)

In [5]:
df['model_year']=df['model_year'].apply(lambda x:2024-x)

In [6]:
df['model'].value_counts()

F-150 XLT             780
M3 Base               682
X5 xDrive35i          615
F-150 Lariat          496
Mustang GT Premium    466
                     ...
Suburban 2500           1
TLX Tech                1
Rogue Sport S           1
A8 4.0                  1
S-10 LS                 1
Name: model, Length: 1827, dtype: int64

In [7]:
df['model_year']

0         6
1        17
2        15
3         2
4        23
         ..
54268     7
54269     9
54270    11
54271     1
54272     3
Name: model_year, Length: 54273, dtype: int64

In [8]:
df.describe()

                 id    model_year         milage         price
count  54273.000000  54273.000000   54273.000000  5.427300e+04
mean   27136.000000      8.908021   72327.080206  3.921844e+04
std    15667.409917      5.588909   49078.544319  7.282634e+04
min        0.000000      0.000000     100.000000  2.000000e+03
25%    13568.000000      5.000000   32268.000000  1.550000e+04
50%    27136.000000      8.000000   66107.000000  2.800000e+04
75%    40704.000000     12.000000  102000.000000  4.500000e+04
max    54272.000000     50.000000  206598.000000  2.954083e+06

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54273 entries, 0 to 54272
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            54273 non-null  int64
 1   brand         54273 non-null  object
 2   model         54273 non-null  object
 3   model_year    54273 non-null  int64
 4   milage        54273 non-null  float64
 5   fuel_type     54273 non-null  object
 6   engine        54273 non-null  object
 7   transmission  54273 non-null  object
 8   ext_col       54273 non-null  object
 9   int_col       54273 non-null  object
 10  accident      54273 non-null  object
 11  clean_title   54273 non-null  object
 12  price         54273 non-null  int64
dtypes: float64(1), int64(3), object(9)
memory usage: 5.4+ MB

In [10]:
df['horsepower']=df['engine'].apply(lambda x:float(x[:4]) if x[5:7]=='HP' else 331.687)

In [11]:
q25=df['horsepower'].quantile(0.25)
q75=df['horsepower'].quantile(0.75)
iqr=q75-q25
up=q75+1.5*iqr
down=q25-1.5*iqr
df[df['horsepower']>up]

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,horsepower
25,25,Chevrolet,Corvette Z06,8,49000.0,Gasoline,650.0HP 6.2L 8 Cylinder Engine Gasoline Fuel,7-Speed M/T,White,Black,None reported,Yes,65000,650.0
225,225,Ford,Roma Base,2,17900.0,Gasoline,611.0HP 3.9L 8 Cylinder Engine Gasoline Fuel,8-Speed A/T,Gray,Brown,None reported,Yes,85000,611.0
370,370,BMW,X6 M Base,5,41000.0,Gasoline,600.0HP 4.4L 8 Cylinder Engine Gasoline Fuel,8-Speed A/T,Black,Brown,None reported,Yes,50000,600.0
378,378,Tesla,Model X Base,1,2857.0,Gasoline,670.0HP Electric Motor Electric Fuel System,1-Speed A/T,Black,Beige,None reported,Yes,103500,670.0
382,382,Mercedes-Benz,AMG E 63 S 4MATIC,8,41500.0,Gasoline,603.0HP 4.0L 8 Cylinder Engine Gasoline Fuel,9-Speed A/T,Gray,Black,At least 1 accident or damage reported,Yes,41500,603.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54146,54146,Porsche,911 Turbo S,2,8755.0,Gasoline,640.0HP 3.8L Flat 6 Cylinder Engine Gasoline Fuel,8-Speed A/T,Gray,Black,None reported,Yes,101999,640.0
54186,54186,BMW,M5 Base,3,11102.0,Gasoline,600.0HP 4.4L 8 Cylinder Engine Gasoline Fuel,8-Speed A/T,Black,Black,None reported,Yes,86900,600.0
54214,54214,Mercedes-Benz,AMG GT 63 S 4-Door,5,9500.0,Gasoline,630.0HP 4.0L 8 Cylinder Engine Gasoline Fuel,9-Speed A/T,Black,Red,None reported,Yes,93999,630.0
54243,54243,Bentley,Continental GT W12,6,14806.0,Gasoline,621.0HP 6.0L 12 Cylinder Engine Gasoline Fuel,8-Speed A/T,Black,Brown,None reported,Yes,234900,621.0
54253,54253,BMW,M5 Base,13,31090.0,Gasoline,600.0HP 4.4L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Gray,Black,None reported,Yes,37999,600.0

In [12]:
df['cylinder_config']=df['engine'].apply(lambda engine_str: "V" if "V" in engine_str else "Straight" if "Straight" in engine_str else "unknownconfig")

In [13]:
df['cylinder_config']

0                    V
1             Straight
2        unknownconfig
3             Straight
4                    V
             ...
54268    unknownconfig
54269    unknownconfig
54270                V
54271                V
54272    unknownconfig
Name: cylinder_config, Length: 54273, dtype: object

In [14]:
cylinder_config=pd.get_dummies(df['cylinder_config'])
df=pd.concat([df,cylinder_config],axis=1)

In [15]:
import re
v1=df['engine'].str.extract(r'\s(\d+)\s')

In [16]:
v1=pd.DataFrame({'index':range(0,54273),'number':v1[0]})
# v1[0]

In [17]:
v2=df['engine'].str.extract(r'\s\w(\d+)\s')

In [18]:
v2=pd.DataFrame({'index':range(0,54273),'number':v2[0]})

In [19]:
newv=pd.merge(v1, v2, on='index', how='outer')

In [20]:
newv.head()

   index number_x number_y
0      0      NaN        6
1      1        6      NaN
2      2        8      NaN
3      3        6      NaN
4      4      NaN        6

In [21]:
df['v']=newv['number_x'].combine_first(newv['number_y'])

In [22]:
df['v']=df['v'].fillna('6')
df['v'] = df['v'].astype(int)

In [23]:
l1=df['engine'].str.extract(r'\s(\d+\.\d+)\w\s')
l1=pd.DataFrame({'index':range(0,54273),'number':l1[0]})

In [24]:
l2=df['engine'].str.extract(r'\b(\d+\.\d+)\sLiter\b')
l2=pd.DataFrame({'index':range(0,54273),'number':l2[0]})

In [25]:
newv=pd.merge(l1, l2, on='index', how='outer')
df['L']=newv['number_x'].combine_first(newv['number_y'])

In [26]:
df['L']=df['L'].fillna('3.72')
df['L'] = df['L'].astype(float)

In [27]:
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,horsepower,cylinder_config,Straight,V,unknownconfig,v,L
0,0,Ford,F-150 Lariat,6,74349.0,Gasoline,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,Blue,Gray,None reported,Yes,11000,375.0,V,0,1,0,6,3.5
1,1,BMW,335 i,17,80000.0,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,Black,Black,None reported,Yes,8250,300.0,Straight,1,0,0,6,3.0
2,2,Jaguar,XF Luxury,15,91491.0,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Purple,Beige,None reported,Yes,15000,300.0,unknownconfig,0,0,1,8,4.2
3,3,BMW,X7 xDrive40i,2,2437.0,Hybrid,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,Transmission w/Dual Shift Mode,Gray,Brown,None reported,Yes,63500,335.0,Straight,1,0,0,6,3.0
4,4,Pontiac,Firebird Base,23,111000.0,Gasoline,200.0HP 3.8L V6 Cylinder Engine Gasoline Fuel,A/T,White,Black,None reported,Yes,7850,200.0,V,0,1,0,6,3.8

In [28]:
df['transmission'].value_counts()

A/T                                                   16757
8-Speed A/T                                            7287
Transmission w/Dual Shift Mode                         6454
6-Speed A/T                                            5944
6-Speed M/T                                            3618
7-Speed A/T                                            3415
10-Speed A/T                                           2187
8-Speed Automatic                                      1189
5-Speed A/T                                            1185
9-Speed A/T                                            1073
4-Speed A/T                                             764
5-Speed M/T                                             718
CVT Transmission                                        692
10-Speed Automatic                                      642
6-Speed Automatic                                       516
Automatic                                               441
M/T                                                     359
9-Speed Automatic                                       344
7-Speed Automatic with Auto-Shift                       110
7-Speed M/T                                             104
Automatic CVT                                            95
1-Speed A/T                                              60
8-Speed Automatic with Auto-Shift                        55
Transmission Overdrive Switch                            54
7-Speed Automatic                                        41
6-Speed Manual                                           34
5-Speed Automatic                                        24
7-Speed Manual                                           22
6-Speed Automatic with Auto-Shift                        17
8-Speed Manual                                            9
4-Speed Automatic                                         8
7-Speed                                                   7
–                                                         7
7-Speed DCT Automatic                                     6
1-Speed Automatic                                         6
6-Speed Electronically Controlled Automatic with O        6
10-Speed Automatic with Overdrive                         5
2-Speed A/T                                               5
6-Speed                                                   3
9-Speed Automatic with Auto-Shift                         2
SCHEDULED FOR OR IN PRODUCTION                            2
6 Speed Mt                                                2
CVT-F                                                     1
F                                                         1
Variable                                                  1
6 Speed At/Mt                                             1
Name: transmission, dtype: int64

In [29]:
# df['tranmission_no']=df['transmission'].str.extract(r'(\d+)')
def extract_transmission_features(transmission_str):
    if 'A/T' in transmission_str or 'Automatic' in transmission_str or 'Auto' in transmission_str or 'automatic' in transmission_str or 'auto' in transmission_str:
        transmission_type = 'A/T'
        num_gears = re.search(r'(\d+)-Speed', transmission_str)
        num_gears = int(num_gears.group(1)) if num_gears else None
        transmission_features = transmission_str.replace(str(num_gears) + '-Speed A/T', '').strip()
    elif 'M/T' in transmission_str or 'Manual' in transmission_str or 'manual'in transmission_str:
        transmission_type = 'M/T'
        num_gears = re.search(r'(\d+)-Speed', transmission_str)
        num_gears = int(num_gears.group(1)) if num_gears else None
        transmission_features = transmission_str.replace(str(num_gears) + '-Speed M/T', '').strip()
    elif 'Dual' in transmission_str or 'dual' in transmission_str:
        transmission_type = 'Dual'
        num_gears = 0
        transmission_features = transmission_str.strip()
    else:
        transmission_type = 'Unknown'
        num_gears = 0
        transmission_features = 'Unknown'
    return transmission_type, num_gears,transmission_features

In [30]:
df[['transmission_type', 'num_gears','transmission_features']]=df['transmission'].apply(extract_transmission_features).apply(pd.Series)

In [31]:
df['num_gears']=df['num_gears'].fillna(1)
df['num_gears']=df['num_gears'].astype(int)

In [32]:
df['transmission_features']=df['transmission_features'].replace({"":"idontknow"})
df['transmission_features']=df['transmission_features'].fillna('idontknow')

In [33]:
arr=df['transmission_features'].apply(lambda x:sorted([i+"_trans" for i in re.findall(r'\b[a-zA-Z]+\b',x)]))
colset=[]
for i in range(54273):
    for j in arr[i]:
        colset.append(j)
transdata=list(set(colset))
print(transdata)

['M_trans', 'Overdrive_trans', 'Manual_trans', 'Auto_trans', 'Speed_trans', 'Mode_trans', 'idontknow_trans', 'O_trans', 'with_trans', 'DCT_trans', 'Automatic_trans', 'CVT_trans', 'Shift_trans', 'w_trans', 'A_trans', 'Electronically_trans', 'Transmission_trans', 'Unknown_trans', 'T_trans', 'Dual_trans', 'Controlled_trans']

In [34]:
for i in transdata:
    df[i]=0
for i in range(54273):
    for j in arr[i]:
        if j in transdata:
            df.loc[i,j]=1

In [35]:
acci=pd.get_dummies(df['accident'])
df=pd.concat([df,acci],axis=1)

In [36]:
acci=pd.get_dummies(df['transmission_type'])
df=pd.concat([df,acci],axis=1)

In [37]:
# int_col=pd.get_dummies(df['int_col'])
# df=pd.concat([df,int_col],axis=1)
# df['int_col']=df['int_col'].astype('category').cat.codes
# encoder1 = LabelEncoder()
# encoder1.fit(df['int_col'])

# # Transform training data
# df['int_col'] = encoder1.transform(df['int_col'])
intdict={}
for i in range(len(list(set(df['int_col'])))):
    intdict[list(set(df['int_col']))[i]]=i
print(intdict)
df['int_col']=df['int_col'].replace(intdict)

{'White / Brown': 0, 'Beluga Hide': 1, 'Cocoa / Dune': 2, 'Hotspur Hide': 3, 'Dark Gray': 4, 'Walnut': 5, 'Parchment.': 6, 'Medium Pewter': 7, 'Titan Black': 8, 'Dark Auburn': 9, 'Dark Ash': 10, 'Kyalami Orange': 11, 'Oyster W/Contrast': 12, 'Tupelo': 13, 'Black Onyx': 14, 'Grace White': 15, 'Tan/Ebony': 16, 'Light Titanium': 17, 'Navy Pier': 18, 'Ebony / Ebony Accents': 19, 'Portland': 20, 'Camel': 21, '–': 22, 'Shara Beige': 23, 'Amber': 24, 'Satin Black': 25, 'Black / Graphite': 26, 'Sport': 27, 'Giallo Taurus / Nero Ade': 28, 'Red': 29, 'Medium Light Camel': 30, 'Medium Stone': 31, 'Orange': 32, 'Dark Galvanized': 33, 'Linen': 34, 'Sand Beige': 35, 'BLACK': 36, 'Ice': 37, 'Diesel Gray / Black': 38, 'Black/Red': 39, 'Sandstone': 40, 'Platinum': 41, 'Tan': 42, 'Black / Saddle': 43, 'Black / Gray': 44, 'Charcoal': 45, 'Rhapsody Blue': 46, 'Cobalt Blue': 47, 'Hotspur': 48, 'Graystone': 49, 'Red / Black': 50, 'Titan Black / Quarzit': 51, 'Black / Express Red': 52, 'Mistral Gray / Raven': 53, 'Deep Garnet': 54, 'Medium Ash Gray': 55, 'Whisper Beige': 56, 'Light Platinum / Jet Black': 57, 'Very Light Cashmere': 58, 'Black / Brown': 59, 'Saddle Brown': 60, 'Canberra Beige': 61, 'Camel Leather': 62, 'AMG Black': 63, 'Ivory / Ebony': 64, 'Ceramic': 65, 'Cappuccino': 66, 'Espresso': 67, 'Global Black': 68, 'Canberra Beige/Black': 69, 'Yellow': 70, 'Chestnut': 71, 'Jet Black': 72, 'Sahara Tan': 73, 'Shale': 74, 'Parchment': 75, 'Mountain Brown': 76, 'Charcoal Black': 77, 'Blk': 78, 'Black/Gun Metal': 79, 'Blue': 80, 'Deep Cypress': 81, 'Black w/Red Stitching': 82, 'Rock Gray': 83, 'Cloud': 84, 'Pimento Red w/Ebony': 85, 'Macchiato': 86, 'Ebony': 87, 'Beluga': 88, 'Gray': 89, 'Oyster/Black': 90, 'Deep Chestnut': 91, 'Nero Ade': 92, 'Light Gray': 93, 'Black': 94, 'Medium Earth Gray': 95, 'Caramel': 96, 'Red/Black': 97, 'Boulder': 98, 'Mesa': 99, 'Nougat Brown': 100, 'Slate': 101, 'Ash': 102, 'Beige': 103, 'Brown': 104, 'Green': 105, 'Light Slate': 106, 'Almond Beige': 107, 'Mocha': 108, 'White': 109, 'Gold': 110, 'Ebony / Pimento': 111, 'Silk Beige/Espresso Brown': 112, 'Nero': 113, 'Rioja Red': 114, 'Charles Blue': 115, 'Silver': 116, 'Black / Stone Grey': 117, 'Adrenaline Red': 118, 'Brandy': 119, 'Ebony Black': 120, 'Graphite': 121, 'Medium Dark Slate': 122, 'Obsidian Black': 123}

In [38]:
clean_title=pd.get_dummies(df['clean_title'])
df=pd.concat([df,clean_title],axis=1)

In [39]:
# ext_col=pd.get_dummies(df['ext_col'])
# df=pd.concat([df,ext_col],axis=1)
# df['int_col']=df['int_col'].astype('category').cat.codes
# encoder2 = LabelEncoder()
# encoder2.fit(df['ext_col'])

# # Transform training data
# df['ext_col'] = encoder2.transform(df['ext_col'])
extdict={}
for i in range(len(list(set(df['ext_col'])))):
    extdict[list(set(df['ext_col']))[i]]=i
print(intdict)
df['ext_col']=df['ext_col'].replace(extdict)
df['ext_col']

{'White / Brown': 0, 'Beluga Hide': 1, 'Cocoa / Dune': 2, 'Hotspur Hide': 3, 'Dark Gray': 4, 'Walnut': 5, 'Parchment.': 6, 'Medium Pewter': 7, 'Titan Black': 8, 'Dark Auburn': 9, 'Dark Ash': 10, 'Kyalami Orange': 11, 'Oyster W/Contrast': 12, 'Tupelo': 13, 'Black Onyx': 14, 'Grace White': 15, 'Tan/Ebony': 16, 'Light Titanium': 17, 'Navy Pier': 18, 'Ebony / Ebony Accents': 19, 'Portland': 20, 'Camel': 21, '–': 22, 'Shara Beige': 23, 'Amber': 24, 'Satin Black': 25, 'Black / Graphite': 26, 'Sport': 27, 'Giallo Taurus / Nero Ade': 28, 'Red': 29, 'Medium Light Camel': 30, 'Medium Stone': 31, 'Orange': 32, 'Dark Galvanized': 33, 'Linen': 34, 'Sand Beige': 35, 'BLACK': 36, 'Ice': 37, 'Diesel Gray / Black': 38, 'Black/Red': 39, 'Sandstone': 40, 'Platinum': 41, 'Tan': 42, 'Black / Saddle': 43, 'Black / Gray': 44, 'Charcoal': 45, 'Rhapsody Blue': 46, 'Cobalt Blue': 47, 'Hotspur': 48, 'Graystone': 49, 'Red / Black': 50, 'Titan Black / Quarzit': 51, 'Black / Express Red': 52, 'Mistral Gray / Raven': 53, 'Deep Garnet': 54, 'Medium Ash Gray': 55, 'Whisper Beige': 56, 'Light Platinum / Jet Black': 57, 'Very Light Cashmere': 58, 'Black / Brown': 59, 'Saddle Brown': 60, 'Canberra Beige': 61, 'Camel Leather': 62, 'AMG Black': 63, 'Ivory / Ebony': 64, 'Ceramic': 65, 'Cappuccino': 66, 'Espresso': 67, 'Global Black': 68, 'Canberra Beige/Black': 69, 'Yellow': 70, 'Chestnut': 71, 'Jet Black': 72, 'Sahara Tan': 73, 'Shale': 74, 'Parchment': 75, 'Mountain Brown': 76, 'Charcoal Black': 77, 'Blk': 78, 'Black/Gun Metal': 79, 'Blue': 80, 'Deep Cypress': 81, 'Black w/Red Stitching': 82, 'Rock Gray': 83, 'Cloud': 84, 'Pimento Red w/Ebony': 85, 'Macchiato': 86, 'Ebony': 87, 'Beluga': 88, 'Gray': 89, 'Oyster/Black': 90, 'Deep Chestnut': 91, 'Nero Ade': 92, 'Light Gray': 93, 'Black': 94, 'Medium Earth Gray': 95, 'Caramel': 96, 'Red/Black': 97, 'Boulder': 98, 'Mesa': 99, 'Nougat Brown': 100, 'Slate': 101, 'Ash': 102, 'Beige': 103, 'Brown': 104, 'Green': 105, 'Light Slate': 106, 'Almond Beige': 107, 'Mocha': 108, 'White': 109, 'Gold': 110, 'Ebony / Pimento': 111, 'Silk Beige/Espresso Brown': 112, 'Nero': 113, 'Rioja Red': 114, 'Charles Blue': 115, 'Silver': 116, 'Black / Stone Grey': 117, 'Adrenaline Red': 118, 'Brandy': 119, 'Ebony Black': 120, 'Graphite': 121, 'Medium Dark Slate': 122, 'Obsidian Black': 123}

0        175
1        210
2         65
3        194
4        235
        ...
54268    235
54269    210
54270    235
54271    227
54272    210
Name: ext_col, Length: 54273, dtype: int64

In [40]:
fuel_type=pd.get_dummies(df['fuel_type'])
df=pd.concat([df,fuel_type],axis=1)

In [41]:
brand=pd.get_dummies(df['brand'])
df=pd.concat([df,brand],axis=1)

In [42]:
# df['model']=df['model'].astype('category').cat.codes
def extract_model_features(model):
    """
    This function extracts features from the model column creating new features 
    and enriching the dataset.
    """
    parts = model.split()
    base_model = parts[0] if parts else model
    model_variant = parts[1] if len(parts) > 1 else ''
    additional_features = ''.join(parts[2:]) if len(parts) > 2 else ''
    return base_model, model_variant, additional_features
df[['base_model', 'model_variant', 'additional_features']] =df['model'].apply(lambda x: pd.Series(extract_model_features(x)))

In [43]:
base_modeldict={}
for i in range(len(list(set(df['base_model'])))):
    base_modeldict[list(set(df['base_model']))[i]]=i
df['base_model']=df['base_model'].replace(base_modeldict)

model_variantdict={}
for i in range(len(list(set(df['model_variant'])))):
    model_variantdict[list(set(df['model_variant']))[i]]=i
df['model_variant']=df['model_variant'].replace(model_variantdict)

additional_featuresdict={}
for i in range(len(list(set(df['additional_features'])))):
    additional_featuresdict[list(set(df['additional_features']))[i]]=i
df['additional_features']=df['additional_features'].replace(additional_featuresdict)


# df['model_variant']=df['model_variant'].astype('category').cat.codes
# df['additional_features']=df['additional_features'].astype('category').cat.codes

In [44]:
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,...,Scion,Subaru,Suzuki,Tesla,Toyota,Volkswagen,Volvo,base_model,model_variant,additional_features
0,0,Ford,F-150 Lariat,6,74349.0,Gasoline,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,175,89,...,0,0,0,0,0,0,0,482,423,0
1,1,BMW,335 i,17,80000.0,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,210,94,...,0,0,0,0,0,0,0,353,146,0
2,2,Jaguar,XF Luxury,15,91491.0,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,65,103,...,0,0,0,0,0,0,0,414,307,0
3,3,BMW,X7 xDrive40i,2,2437.0,Hybrid,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,Transmission w/Dual Shift Mode,194,104,...,0,0,0,0,0,0,0,424,145,0
4,4,Pontiac,Firebird Base,23,111000.0,Gasoline,200.0HP 3.8L V6 Cylinder Engine Gasoline Fuel,A/T,235,94,...,0,0,0,0,0,0,0,29,317,0

In [45]:
df.drop(columns=['brand','fuel_type','accident','clean_title','id','model'])

,model_year,milage,engine,transmission,ext_col,int_col,price,horsepower,cylinder_config,Straight,...,Scion,Subaru,Suzuki,Tesla,Toyota,Volkswagen,Volvo,base_model,model_variant,additional_features
0,6,74349.0,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,175,89,11000,375.000,V,0,...,0,0,0,0,0,0,0,482,423,0
1,17,80000.0,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,210,94,8250,300.000,Straight,1,...,0,0,0,0,0,0,0,353,146,0
2,15,91491.0,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,65,103,15000,300.000,unknownconfig,0,...,0,0,0,0,0,0,0,414,307,0
3,2,2437.0,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,Transmission w/Dual Shift Mode,194,104,63500,335.000,Straight,1,...,0,0,0,0,0,0,0,424,145,0
4,23,111000.0,200.0HP 3.8L V6 Cylinder Engine Gasoline Fuel,A/T,235,94,7850,200.000,V,0,...,0,0,0,0,0,0,0,29,317,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54268,7,29000.0,445.0HP 4.4L 8 Cylinder Engine Gasoline Fuel,8-Speed A/T,235,104,29000,445.000,unknownconfig,0,...,0,0,0,0,0,0,0,161,238,0
54269,9,94634.0,220.0HP 2.0L 4 Cylinder Engine Flex Fuel Capab...,6-Speed A/T,210,94,6500,220.000,unknownconfig,0,...,0,0,0,0,0,0,0,305,251,284
54270,11,40989.0,420.0HP 3.6L V6 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,235,94,18950,420.000,V,0,...,0,0,0,0,0,0,0,49,331,0
54271,1,1518.0,4.0L H6 24V GDI DOHC,8-Speed Automatic with Auto-Shift,227,104,194965,331.687,V,0,...,0,0,0,0,0,0,0,429,381,183
54272,3,35000.0,261.0HP 2.0L 4 Cylinder Engine Gasoline/Mild E...,8-Speed A/T,210,94,37499,261.000,unknownconfig,0,...,0,0,0,0,0,0,0,258,5,371

In [46]:
arr=df['engine'].apply(lambda x:sorted(re.findall(r'\b[a-zA-Z]+\b',x)))
# arr[0]
colset=[]
for i in range(54273):
    for j in arr[i]:
        colset.append(j)

In [47]:
enginedata=['AH',
 'Battery',
 'Capability',
 'Cylinder',
 'DDI',
 'DOHC',
 'Diesel',
 'Electric',
 'Engine',
 'Flat',
 'Flex',
 'Flexible',
 'Fuel',
 'GDI',
 'GTDI',
 'Gas',
 'Gasoline',
 'Hybrid',
 'Hydrogen',
 'In',
 'Intercooled',
 'Liter',
 'MPFI',
 'Mild',
 'Motor',
 'OHV',
 'PDI',
 'Plug',
 'Range',
 'Rotary',
 'SC',
 'SOHC',
 'Standard',
 'Supercharged',
 'System',
 'TFSI',
 'TSI',
 'Turbo',
 'Twin',
 'ULEV',
 'VTEC',
 'engine']

In [48]:
for i in enginedata:
    df[i]=0
for i in range(54273):
    for j in arr[i]:
        if j in enginedata:
            df.loc[i,j]=1

In [49]:
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,...,SOHC,Standard,Supercharged,System,TFSI,TSI,Turbo,Twin,ULEV,VTEC
0,0,Ford,F-150 Lariat,6,74349.0,Gasoline,0,10-Speed A/T,175,89,...,0,0,0,0,0,0,0,0,0,0
1,1,BMW,335 i,17,80000.0,Gasoline,0,6-Speed M/T,210,94,...,0,0,0,0,0,0,0,0,0,0
2,2,Jaguar,XF Luxury,15,91491.0,Gasoline,0,6-Speed A/T,65,103,...,0,0,0,0,0,0,0,0,0,0
3,3,BMW,X7 xDrive40i,2,2437.0,Hybrid,0,Transmission w/Dual Shift Mode,194,104,...,0,0,0,0,0,0,0,0,0,0
4,4,Pontiac,Firebird Base,23,111000.0,Gasoline,0,A/T,235,94,...,0,0,0,0,0,0,0,0,0,0

In [50]:
df=df.dropna(axis=1)

In [51]:
df=df.drop(columns=['brand','fuel_type','ext_col','int_col','accident','clean_title','id','model','transmission_type','transmission_features','cylinder_config'],axis=1)

In [52]:
df.head()

,model_year,milage,engine,transmission,price,horsepower,Straight,V,unknownconfig,v,...,SOHC,Standard,Supercharged,System,TFSI,TSI,Turbo,Twin,ULEV,VTEC
0,6,74349.0,0,10-Speed A/T,11000,375.0,0,1,0,6,...,0,0,0,0,0,0,0,0,0,0
1,17,80000.0,0,6-Speed M/T,8250,300.0,1,0,0,6,...,0,0,0,0,0,0,0,0,0,0
2,15,91491.0,0,6-Speed A/T,15000,300.0,0,0,1,8,...,0,0,0,0,0,0,0,0,0,0
3,2,2437.0,0,Transmission w/Dual Shift Mode,63500,335.0,1,0,0,6,...,0,0,0,0,0,0,0,0,0,0
4,23,111000.0,0,A/T,7850,200.0,0,1,0,6,...,0,0,0,0,0,0,0,0,0,0

In [53]:
target=df['price']
df=df.drop(columns=['transmission'])

In [54]:
# df['noyear']=pd.cut(df['model_year'],9,labels=[str(i) for i in range(9)])

In [55]:
df=df.drop(columns=['price',])

In [56]:
df.columns.to_list()

['model_year',
 'milage',
 'engine',
 'horsepower',
 'Straight',
 'V',
 'unknownconfig',
 'v',
 'L',
 'num_gears',
 'M_trans',
 'Overdrive_trans',
 'Manual_trans',
 'Auto_trans',
 'Speed_trans',
 'Mode_trans',
 'idontknow_trans',
 'O_trans',
 'with_trans',
 'DCT_trans',
 'Automatic_trans',
 'CVT_trans',
 'Shift_trans',
 'w_trans',
 'A_trans',
 'Electronically_trans',
 'Transmission_trans',
 'Unknown_trans',
 'T_trans',
 'Dual_trans',
 'Controlled_trans',
 'At least 1 accident or damage reported',
 'None reported',
 'A/T',
 'Dual',
 'M/T',
 'Unknown',
 'Yes',
 'Diesel',
 'E85 Flex Fuel',
 'Gasoline',
 'Hybrid',
 'Plug-In Hybrid',
 'not supported',
 '–',
 'Acura',
 'Alfa',
 'Aston',
 'Audi',
 'BMW',
 'Bentley',
 'Bugatti',
 'Buick',
 'Cadillac',
 'Chevrolet',
 'Chrysler',
 'Dodge',
 'FIAT',
 'Ferrari',
 'Ford',
 'GMC',
 'Genesis',
 'Honda',
 'Hummer',
 'Hyundai',
 'INFINITI',
 'Jaguar',
 'Jeep',
 'Kia',
 'Lamborghini',
 'Land',
 'Lexus',
 'Lincoln',
 'Lotus',
 'Lucid',
 'MINI',
 'Maserati',
 'Maybach',
 'Mazda',
 'McLaren',
 'Mercedes-Benz',
 'Mercury',
 'Mitsubishi',
 'Nissan',
 'Plymouth',
 'Pontiac',
 'Porsche',
 'RAM',
 'Rivian',
 'Rolls-Royce',
 'Saturn',
 'Scion',
 'Subaru',
 'Suzuki',
 'Tesla',
 'Toyota',
 'Volkswagen',
 'Volvo',
 'base_model',
 'model_variant',
 'additional_features',
 'AH',
 'Battery',
 'Capability',
 'Cylinder',
 'DDI',
 'DOHC',
 'Electric',
 'Engine',
 'Flat',
 'Flex',
 'Flexible',
 'Fuel',
 'GDI',
 'GTDI',
 'Gas',
 'Hydrogen',
 'In',
 'Intercooled',
 'Liter',
 'MPFI',
 'Mild',
 'Motor',
 'OHV',
 'PDI',
 'Plug',
 'Range',
 'Rotary',
 'SC',
 'SOHC',
 'Standard',
 'Supercharged',
 'System',
 'TFSI',
 'TSI',
 'Turbo',
 'Twin',
 'ULEV',
 'VTEC']

In [57]:
!pip3 install catboost

Requirement already satisfied: catboost in c:\users\acer\anaconda3\lib\site-packages (1.2.5)
Requirement already satisfied: pandas>=0.24 in c:\users\acer\anaconda3\lib\site-packages (from catboost) (1.4.2)
Requirement already satisfied: plotly in c:\users\acer\anaconda3\lib\site-packages (from catboost) (5.6.0)
Requirement already satisfied: graphviz in c:\users\acer\anaconda3\lib\site-packages (from catboost) (0.20.3)
Requirement already satisfied: numpy>=1.16.0 in c:\users\acer\anaconda3\lib\site-packages (from catboost) (1.22.4)
Requirement already satisfied: matplotlib in c:\users\acer\anaconda3\lib\site-packages (from catboost) (3.5.1)
Requirement already satisfied: six in c:\users\acer\anaconda3\lib\site-packages (from catboost) (1.16.0)
Requirement already satisfied: scipy in c:\users\acer\anaconda3\lib\site-packages (from catboost) (1.7.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\acer\anaconda3\lib\site-packages (from pandas>=0.24->catboost) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\acer\anaconda3\lib\site-packages (from pandas>=0.24->catboost) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\acer\anaconda3\lib\site-packages (from matplotlib->catboost) (9.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\acer\anaconda3\lib\site-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\acer\anaconda3\lib\site-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\acer\anaconda3\lib\site-packages (from matplotlib->catboost) (3.0.4)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\acer\anaconda3\lib\site-packages (from matplotlib->catboost) (4.25.0)
Requirement already satisfied: packaging>=20.0 in c:\users\acer\anaconda3\lib\site-packages (from matplotlib->catboost) (21.3)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\acer\anaconda3\lib\site-packages (from plotly->catboost) (8.0.1)

In [58]:
# df['noyear']=df['noyear'].astype(int)

In [59]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler
scaler = MinMaxScaler()
stanscaler=StandardScaler()
# dft=stanscaler.fit_transform(df)
X_train, X_test, y_train, y_test = train_test_split(df, target, test_size=0.00000001, random_state=42)

In [60]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.ensemble import RandomForestRegressor
from catboost import CatBoostRegressor
catboost=CatBoostRegressor(loss_function='RMSE',depth=5,random_seed=76,iterations=1000,learning_rate=0.01,verbose=False)
# catboost=RandomForestRegressor( n_estimators=50, random_state=42)
catboost.fit(X_train, y_train)

In [61]:
from sklearn.metrics import mean_squared_error
y_pred = catboost.predict(X_test)
rmse1 = np.sqrt(mean_squared_error(y_test, y_pred))
print("The Root mean square is " + str(rmse1))

The Root mean square is 15775.883714785057

In [62]:
import random
df1=pd.read_csv('test.csv')
df1.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title
0,54273,Mercedes-Benz,E-Class E 350,2014,73000,Gasoline,302.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,A/T,White,Beige,None reported,Yes
1,54274,Lexus,RX 350 Base,2015,128032,Gasoline,275.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,8-Speed A/T,Silver,Black,None reported,Yes
2,54275,Mercedes-Benz,C-Class C 300,2015,51983,Gasoline,241.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,Blue,White,None reported,Yes
3,54276,Land,Rover Range Rover 5.0L Supercharged Autobiogra...,2018,29500,Gasoline,518.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,White,White,At least 1 accident or damage reported,Yes
4,54277,BMW,X6 xDrive40i,2020,90000,Gasoline,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,8-Speed A/T,White,Black,At least 1 accident or damage reported,Yes

In [63]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36183 entries, 0 to 36182
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            36183 non-null  int64
 1   brand         36183 non-null  object
 2   model         36183 non-null  object
 3   model_year    36183 non-null  int64
 4   milage        36183 non-null  int64
 5   fuel_type     36183 non-null  object
 6   engine        36183 non-null  object
 7   transmission  36183 non-null  object
 8   ext_col       36183 non-null  object
 9   int_col       36183 non-null  object
 10  accident      36183 non-null  object
 11  clean_title   36183 non-null  object
dtypes: int64(3), object(9)
memory usage: 3.3+ MB

In [64]:
df1.replace('-','idontknow',inplace=True)

In [65]:
q25=df1['milage'].quantile(0.25)
q75=df1['milage'].quantile(0.75)
iqr=q75-q25
up=q75+1.5*iqr
down=q25-1.5*iqr
# df1[df1['milage']>up]
df1['milage']=df1['milage'].apply(lambda x: up if x>up else x)

In [66]:
df1['horsepower']=df1['engine'].apply(lambda x:float(x[:4]) if x[5:7]=='HP' else 306.838)

In [67]:
df1['model_year']=df1['model_year'].apply(lambda x:2024-x)

In [68]:
df1['cylinder_config']=df1['engine'].apply(lambda engine_str: "V" if "V" in engine_str else "Straight" if "Straight" in engine_str else "unknownconfig")
cylinder_config=pd.get_dummies(df1['cylinder_config'])
df1=pd.concat([df1,cylinder_config],axis=1)

In [69]:
v1=df1['engine'].str.extract(r'\s(\d+)\s')
v1=pd.DataFrame({'index':range(0,36183),'number':v1[0]})
v2=df1['engine'].str.extract(r'\s\w(\d+)\s')
v2=pd.DataFrame({'index':range(0,36183),'number':v2[0]})
newv=pd.merge(v1, v2, on='index', how='outer')
newv.head()
df1['v']=newv['number_x'].combine_first(newv['number_y'])
df1['v']=df1['v'].fillna('6')
df1['v'] = df1['v'].astype(int)
l1=df1['engine'].str.extract(r'\s(\d+\.\d+)\w\s')
l1=pd.DataFrame({'index':range(0,36183),'number':l1[0]})
l2=df1['engine'].str.extract(r'\b(\d+\.\d+)\sLiter\b')
l2=pd.DataFrame({'index':range(0,36183),'number':l2[0]})
newv=pd.merge(l1, l2, on='index', how='outer')
df1['L']=newv['number_x'].combine_first(newv['number_y'])
df1['L']=df1['L'].fillna('3.72')
df1['L'] = df1['L'].astype(float)

In [70]:
# df1['tranmission_no']=df1['transmission'].str.extract(r'(\d+)')[0]
df1[['transmission_type', 'num_gears','transmission_features']]=df1['transmission'].apply(extract_transmission_features).apply(pd.Series)

In [71]:
df1[['transmission_type', 'num_gears','transmission_features']]

      transmission_type  num_gears           transmission_features
0                   A/T        NaN                             A/T
1                   A/T        8.0
2                   A/T        7.0
3                  Dual        0.0  Transmission w/Dual Shift Mode
4                   A/T        8.0
...                 ...        ...                             ...
36178               A/T       10.0
36179               A/T        4.0
36180               M/T        5.0
36181               A/T       10.0
36182               A/T        NaN                             A/T

[36183 rows x 3 columns]

In [72]:
df1['num_gears']=df1['num_gears'].fillna(1)
df1['num_gears']=df1['num_gears'].astype(int)
df1['transmission_features']=df1['transmission_features'].replace({"":"idontknow"})
df1['transmission_features']=df1['transmission_features'].fillna("idontknow")
acci=pd.get_dummies(df1['transmission_type'])
df1=pd.concat([df1,acci],axis=1)

In [73]:
df1[['transmission_type', 'num_gears','transmission_features']]

      transmission_type  num_gears           transmission_features
0                   A/T          1                             A/T
1                   A/T          8                       idontknow
2                   A/T          7                       idontknow
3                  Dual          0  Transmission w/Dual Shift Mode
4                   A/T          8                       idontknow
...                 ...        ...                             ...
36178               A/T         10                       idontknow
36179               A/T          4                       idontknow
36180               M/T          5                       idontknow
36181               A/T         10                       idontknow
36182               A/T          1                             A/T

[36183 rows x 3 columns]

In [74]:
arr=df1['transmission_features'].apply(lambda x:sorted([i+"_trans" for i in re.findall(r'\b[a-zA-Z]+\b',x)]))
colset=[]
for i in range(36183):
    for j in arr[i]:
        colset.append(j)
transdata=list(set(colset))
print(transdata)

['M_trans', 'Overdrive_trans', 'Manual_trans', 'Auto_trans', 'Speed_trans', 'Mode_trans', 'idontknow_trans', 'O_trans', 'with_trans', 'DCT_trans', 'Automatic_trans', 'CVT_trans', 'Shift_trans', 'w_trans', 'A_trans', 'Electronically_trans', 'Transmission_trans', 'Unknown_trans', 'T_trans', 'Dual_trans', 'Controlled_trans']

In [75]:
for i in transdata:
    df1[i]=0
for i in range(36183):
    for j in arr[i]:
        if j in transdata:
            df1.loc[i,j]=1

In [76]:
brand=pd.get_dummies(df1['brand'])
df1=pd.concat([df1,brand],axis=1)
fuel_type=pd.get_dummies(df1['fuel_type'])
df1=pd.concat([df1,fuel_type],axis=1)
# ext_col=pd.get_dummies(df1['ext_col'])
# df1=pd.concat([df1,ext_col],axis=1)
clean_title=pd.get_dummies(df1['clean_title'])
d1f=pd.concat([df1,clean_title],axis=1)
# int_col=pd.get_dummies(df1['int_col'])
# df1=pd.concat([df1,int_col],axis=1)
df1['int_col']=df1['int_col'].apply(lambda x:intdict[x] if x in intdict else random.randint(502, 1000))
df1['ext_col']=df1['ext_col'].apply(lambda x:extdict[x] if x in extdict else random.randint(502, 1000))
acci1=pd.get_dummies(df1['accident'])
df1=pd.concat([df1,acci1],axis=1)

In [77]:
# df1['model']=df1['model'].astype('category').cat.codes
df1[['base_model', 'model_variant', 'additional_features']] =df1['model'].apply(lambda x: pd.Series(extract_model_features(x)))
df1['base_model']=df1['base_model'].apply(lambda x:base_modeldict[x] if x in base_modeldict else random.randint(502, 1000))
df1['model_variant']=df1['model_variant'].apply(lambda x:model_variantdict[x] if x in model_variantdict else random.randint(502, 1000))
df1['additional_features']=df1['additional_features'].apply(lambda x:additional_featuresdict[x] if x in additional_featuresdict else random.randint(502, 1000))

In [78]:
# df1['noyear']=pd.cut(df1['model_year'],9,labels=[str(i) for i in range(9)])
# df1['noyear']=df1['noyear'].astype(int)
# df1['d']=df1['milage']*df1['v']
df1[['base_model', 'model_variant', 'additional_features']]

       base_model  model_variant  additional_features
0             303            410                   52
1             401             59                  353
2             281            155                   20
3              62             85                  414
4             161            145                    0
...           ...            ...                  ...
36178         445              9                    0
36179         155            429                  138
36180         290            484                    0
36181         153            211                    0
36182         192             75                    0

[36183 rows x 3 columns]

In [79]:
df1=df1.drop(columns=['brand','fuel_type','ext_col','int_col','accident','clean_title','id','transmission','model','transmission_type','transmission_features','cylinder_config'],axis=1)

In [80]:
arr=df1['engine'].apply(lambda x:sorted(re.findall(r'\b[a-zA-Z]+\b',x)))
# arr[0]
colset=[]
for i in range(36183):
    for j in arr[i]:
        colset.append(j)

In [81]:
enginedata=['AH',
 'Battery',
 'Capability',
 'Cylinder',
 'DDI',
 'DOHC',
 'Diesel',
 'Electric',
 'Engine',
 'Flat',
 'Flex',
 'Flexible',
 'Fuel',
 'GDI',
 'GTDI',
 'Gas',
 'Gasoline',
 'Hybrid',
 'Hydrogen',
 'In',
 'Intercooled',
 'Liter',
 'MPFI',
 'Mild',
 'Motor',
 'OHV',
 'PDI',
 'Plug',
 'Range',
 'Rotary',
 'SC',
 'SOHC',
 'Standard',
 'Supercharged',
 'System',
 'TFSI',
 'TSI',
 'Turbo',
 'Twin',
 'ULEV',
 'VTEC',
 'engine']

In [82]:
for i in enginedata:
    df1[i]=0
for i in range(36183):
    for j in arr[i]:
        if j in enginedata:
            df1.loc[i,j]=1

In [83]:
df1['Cylinder'][1]

1

In [84]:
df1=df1.dropna(axis=1)

In [85]:
# catboost.predict(df1)
# df1.shape
df1=df1.drop(['Saab', 'smart'],axis=1)

In [86]:
df1['Yes']=0
df1['Maybach']=0
df1['Plymouth']=0

In [87]:
# df1=df1.drop(['d'],axis=1)
set(df.columns.tolist())-set(df1.columns.tolist())
set(df1.columns.tolist())-set(df.columns.tolist())

set()

In [88]:
result=pd.DataFrame({'id':pd.read_csv('test.csv')['id'],'price':catboost.predict(df1)})
# result=pd.DataFrame({'id':pd.read_csv('test.csv')['id'],'price':model.predict(df1)})

In [89]:
result.to_csv('out.csv',index=False)

In [90]:
catboost.predict(df1)

array([22661.95795868, 21505.81176342, 27516.05897474, ...,
       11713.31878438, 53841.99721718, 19968.26726004])